{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<style>
    body{
        background-color: #D6EEEE;
    }
</style>
<img src="/static/09.png" class="d-block w-100 mx-0" alt="...">

<div class="container sh-3 pt-4">
    <h1  class="text-center">Who we are?</h1>
    <p>
        <center>
            <pre>
            We are one of the best Candy Stores across the country. 
            We provide the taste and varieties of the candy that you really crave for.
            We know you know us and if don't then give us a try, you won't regret your choice.
            </pre>
        </center>
    </p>
</div>

<div class="container sh-4 pt-5">
    <table style="background-color: #D6EEEE;">
        <tr>
            <td>
                <img style="opacity:0.5" src="/static/10.jpg" alt="team" height=500 width=700></img>
            </td>
            <td>
                <h1><center> The Team </center> </h1>
                <p> 
                    <center>
                        All the credit of our candies and their recepie goes to our team.
                    It's our team that makes it possible for you to access this store
                    either offline or online.
                    </center>
                </p>
            </td>
    </table>
</div>
<br><br>
<br>
<br>
<br>
<div class="container sh-5 pt-6">
    <table align="right" style="background-color: #D6EEEE;">
        <tr>
            <td>
                <h1><center> Founder </center> </h1>
                <p> 
                    <center>
                            Hii, This is Shyam<br>
                            Founding member and sole proprietor of Shyam's CandyStore
                    </center>
                </p>
            </td>
            <td>
                <img  style="border-radius: 50%;" src="/static/11.jpg" alt="Shyam" height=300 width=300></img>
            </td>
        </tr>
    </table>
</div>

<br>
<br>
<br>

{% endblock body %}
